@if (user()) {
<div class="holder grid grid-cols-5">
  <div
    #navBarHolder
    class="print:hidden col-span-5 overflow-auto lg:block lg:col-span-1"
  >
    <app-nav
      (navbarEvent)="handleNavbarDispaly($event, navBarHolder, appBody)"
    ></app-nav>
  </div>
  <div
    #appBody
    class="col-span-5 print:col-span-5 lg:col-span-4 mx-1 lg:mx-6 relative h-[calc(100vh-1.5rem)] print:overflow-visible overflow-auto [&::-webkit-scrollbar]:w-0"
  >
    <router-outlet></router-outlet>

    @if (isLoad()) {
    <app-loading></app-loading>
    }
  </div>
</div>

} @else {
<app-auth></app-auth>
}
