<header
  class="bg-white rounded-xl flex print:shadow-none justify-evenly text-center items-center flex-col lg:flex-row h-56 lg:h-20 print:h-fit shadow-sm py-3 px-4 print:p-0"
>
  <input
    type="date"
    class="lg:w-1/4 w-full print:text-xs date-form-control"
    required
    [(ngModel)]="from"
  />
  <label
    class="text-slate-900 font-bold text-lg print:text-lg hidden lg:inline-block"
    >{{ "To" | translate }}</label
  >
  <input
    type="date"
    class="lg:w-1/4 w-full date-form-control print:text-xs"
    required
    [(ngModel)]="to"
  />

  @if(showMaxLevelFilter){
  <select
    [(ngModel)]="maxLevel"
    (change)="EmitDatesValue()"
    class="date-form-control print:text-xs lg:m-0 my-1 w-full lg:w-auto print:hidden"
  >
    <option value="">All Levels</option>
    <option value="1">1st Level</option>
    <option value="2">2nd Level</option>
    <option value="3">3rd Level</option>
    <option value="4">4th Level</option>
    <option value="5">5th Level</option>
  </select>
  }
  <div
    class="lg:flex justify-between w-full items-center lg:w-1/4 print:hidden"
  >
    @if(!isYearRange){
    <div class="flex w-full justify-center lg:w-4/12 lg:m-0 mb-1" role="group">
      <button
        type="button"
        class="px-4 py-0.5 lg:py-2.5 w-1/2 text-gray-900 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-blue-700"
        (click)="DecrementMonth()"
      >
        <i class="fa-solid fa-rotate-left"></i>
      </button>
      <button
        type="button"
        class="px-4 py-0.5 lg:py-2.5 lg:me-3 w-1/2 text-gray-900 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-blue-700"
        (click)="IncrementMonth()"
      >
        <i class="fa-solid fa-rotate-right"></i>
      </button>
    </div>
    }
    <button
      type="button"
      class="btn-primary w-full lg:w-8/12 flex-1"
      (click)="EmitDatesValue()"
    >
      <div class="flex justify-between items-center">
        <span>{{ "Search" | translate }}</span>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </button>
  </div>
</header>
