ul a {
  font-weight: bold;
}

mat-expansion-panel {
  background-color: transparent;
  color: white;
}

mat-panel-title {
  color: #eee;
}

.route-active {
  @apply text-slate-950;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.submenu.open {
  max-height: 500px; /* Adjust this value based on your content */
}
